body{
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
*{
  font-family: 'Balsamiq Sans', cursive;
}
.create{
  text-decoration: none;
  color: purple;
}
.create:hover{
  text-decoration: none;
  color: purple;
}
.right{
  background-image: url("assets/images/20390569.jpg");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.button1{
  /* padding: 20px; */
  font-size: 30px;
  width: 120px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.btn:hover{
  opacity: 0.7;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.input-1{
  width: 300px;
  border-radius: 25px;
}
.login{
  margin-top: 70px;
}
.submit{
  background: rgb(255,165,0);
background: linear-gradient(90deg, rgba(255,165,0,1) 0%, rgba(255,248,33,1) 50%, rgba(255,165,0,1) 100%);
width: 200px;
text-align: center;
align-items: center;
justify-items: center;
font-size: 25px;
}

.submit1{
  background: rgb(255,165,0);
  background: linear-gradient(90deg, rgba(255,165,0,1) 0%, rgba(255,248,33,1) 50%, rgba(255,165,0,1) 100%);
  text-align: center;
  align-items: center;
  justify-items: center;
  font-size: 15px;
}
ul { 
  /* text-align: left;  */
  padding-left: 10%; 
  padding: 7%; 
  font-size: 2rem; 
  list-style: none; 
  } 

  li:hover{ 
      color:red; 
      /* margin: 4%;  */
      cursor: pointer; 
      }
      .list-tems{
          text-align: center;
          justify-items: center;
          align-items: center;
      }
      .search{
          border-radius: 20px;
          height: 40px;
      }
input{
  outline: none;
}